<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Reporte</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Crear un Reporte</h1>
        <form action="{{ url_for('crear_reporte_usuario') }}" method="POST">
            <div class="form-group">
                <label for="titulo">Título del Reporte</label>
                <input type="text" name="titulo" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea name="descripcion" class="form-control" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label for="estado" class="font-weight-bold">Estado</label>
                <select class="form-control" id="estado" name="estado" required>
                    <option value="" disabled selected>Selecciona el estado del reporte</option>
                    <option value="Activo">Activo</option>
                    <option value="Medio">Medio</option>
                    <option value="Crítico">Crítico</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Enviar Reporte</button>
        </form>
    </div>
</body>
</html>
